<!DOCTYPE html>
<html>
<head>
<title>Search Pokémon</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<header>
  <div class="static">
    <img class= "pokeball" id="pokeball-gray" src="/static/images/pokeball_gray.png"/>
    <img class= "pokeball" id="pokeball-white" src="/static/images/pokeball_white.png"/>
  </div>
  <h1>Pokédex</h1>
</header>
<div class="container">
  {% block content %}
  {% endblock %}
</div>

{% block body %}
{% endblock %}
<footer>
<p>Data from <a href="https://pokeapi.co/">PokéAPI</a>.</p>
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>
